@page "/portfolioRegistration"

@using PMaP.Data
@inject IHomeService HomeService

<div class="col-md-12">
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <p style="color:#336699;">Herramientas de venta&nbsp;&#187;&nbsp;Conformación perímetros</p>
        </li>
    </ul>
</div>

<div class="col-md-12">
    <div class="Tabs" style="display: block;">       
	    <ul class="nav nav-tabs">
		    <li class="active">
			    <a href="portfolioRegistration">Alta de la cartera</a>
		    </li>
		    <li class="">
			    <a href="portfolioRegistration/portfolioUpdate">Actualización cartera</a>
		    </li>
	    </ul>
    </div>
</div>

<hr>
<div class="row">
	<div class="col">
		<div class="card card-primary" style="width:70%; position:relative;left:10px">
			<div class="card-header" style="background-color:#0066ff">
				<div class="caption">
					<font color="white">Datos básicos de la cartera</font>
				</div>
			</div>
			<div class="card-body" style="background-color:#e6f0ff">
				<div class="row">
					<div class="col-md-4">
						<label>Portfolio (*)</label>
						<input type="search" class="form-control form-control-sm" placeholder="">
					</div>
					<div class="col-md-4">
						<label for="Portfolio">Subporfolio</label>
						<input type="search" class="form-control form-control-sm" placeholder="">
					</div>  
					<div class="col-md-3">          
							<label for="Portfolio">Fecha alta (*)</label>
							<input type="search" class="form-control form-control-sm" placeholder="yyyy-mm-dd">
					</div>
				</div>
				<p></p>
				<div class="content-wrapper"> 
					<button class="btn" style="position: absolute; left: 15px; background-color:#D5D8DC">&nbsp;Examinar...</button>
					<input type="search" class="form-control form-control-sm" placeholder=""  style="position: absolute; left: 120px; width:85%;">
				</div> 
				<p></p>
				<div class="row">
					<button class="btn  btn-primary" style="position: absolute; left: 92%;">Cargar</button>
					<hr>
				</div>
			</div>
		</div>
	</div>
</div>

@code {
	protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var model = await HomeService.PortfolioComposition();
        }
    }
}
