
<div class="page-header navbar navbar-fixed-top">
        <div class="container clearfix et_menu_container">
            @*<div class="page-logo" style="position: absolute; left: 0.5px; top: 13px;"  >*@
            <div style="position: absolute; left: 0.5px; top: 13px;">
                @*<a href="http://www.betterconsultants.es/cas/" class="logo-default" style="color: white;">*@
                <a href="http://www.betterconsultants.es/cas/" style="color: white; font-size: 40px; padding-left: 10px;">
                    @*<img src="Composicion_files/PSI_WHITE_2.png" width="450" height="50">*@
                    Portfolio Management Platform - PMaP
                </a>  
            </div>	

            <a href="" @onclick:preventDefault>
                <img src="Composicion_files/es.png" style="position: absolute; left: 90%;" > 
            </a>
            <a href="" @onclick:preventDefault>
                <img src="Composicion_files/cat.png" style="position: absolute; left: 92%;" > 
            </a>
            <a href="" @onclick:preventDefault>
                <img src="Composicion_files/gb.png" style="position: absolute; left: 94%;" > 
            </a>      
        </div>
    </div>

@code {

}
