
<div style="z-index: 1; position: fixed; top: 0; right: 0;">
    <div class="top-menu" style="margin-left: auto; margin-right: 0;">
        <ul class="nav navbar-nav pull-right">
            <Languages />
            @if (!string.IsNullOrEmpty(UserName))
            {
                <UserMenu UserName="@UserName" />
            }
        </ul>
    </div>
</div>

@code {
    [Parameter]
    public string UserName { get; set; }
}
