
<div class="page-header navbar" style="z-index: 1; position: fixed; top: 0; left: 0;">
    <div class="container clearfix et_menu_container">
        <a href="" @onclick:preventDefault>
            <img src="Composicion_files/es.png" style="position: absolute; left: 90%;" > 
        </a>
        <a href="" @onclick:preventDefault>
            <img src="Composicion_files/cat.png" style="position: absolute; left: 92%;" > 
        </a>
        <a href="" @onclick:preventDefault>
            <img src="Composicion_files/gb.png" style="position: absolute; left: 94%;" > 
        </a>      
    </div>
</div>

@code {

}
