@using PMaP.Data
@inject ILocalStorageService LocalStorageService

<div class="top-menu">
    <ul class="nav navbar-nav pull-right">
        <li class="dropdown dropdown-user dropdown-dark">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <span class="username">
                    @UserName
                </span>
                <img alt="" class="img-circle" src="img/avatar.png" style="width: 30px; height: 30px;" />
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="account/login" @onclick="Logout"><i class="fa fa-key"></i> Logout</a>
                </li>
            </ul>
        </li>
    </ul>
</div>

@code {
    [Parameter]
    public string UserName { get; set; }

    private async void Logout()
    {
        await LocalStorageService.RemoveItem("user");
    }
}
