
@page "/PortfolioProgress"

<div class="col-md-12">
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <p style="color:#336699;">Evolución de la Cartera</p>
        </li>
    </ul>
</div>
<br />


<div class="row">
    <div class="col">
        <div class="card card-primary">
            <div class="card-header" style="background-color:#0066ff">
                <div class="caption"><font color="white">Cartera</font></div>
            </div>
            <div class="card-body" style="background-color:#e6f0ff">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <label>Portfolio</label>
                            <select class="form-control" onchange="submitForm()">
                                <option>Better</option>
                                <option>CarVen2</option>
                                <option>CarVen3</option>
                                <option>Voyager</option>
                                <option>Galerna</option>
                                <option>Makalu</option>
                                <option>Challenger-Coliseum</option>
                                <option>Vento</option>
                                <option>Explorer</option>
                                <option>Higgs</option>
                                <option>Aurora</option>
                                <option>Siroco</option>
                                <option>Garbi</option>
                                <option>Triton</option>
                                <option>Auster</option>
                                <option>Cadi</option>
                                <option>Empire</option>
                                <option>Chloe</option>
                                <option>Traveller</option>
                                <option>Corus</option>
                                <option>Gregal</option>
                                <option>Pirene</option>
                                <option>Normandia</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="Portfolio">Subporfolio</label>
                            <select class="form-control" onchange="submitForm()">
                                <option>Selecionar</option>
                                <option>SubVenCar</option>
                                <option>Pera</option>
                                <option>Sandi</option>
                                <option>Betz</option>
                                <option>Lacour</option>
                                <option>Kelvin</option>
                                <option>Challenger-Coliseum-1</option>
                                <option>Challenger-Coliseum-2</option>
                                <option>Challenger-Coliseum-3</option>
                                <option>Challenger-Coliseum-4</option>
                                <option>Explorer</option>
                                <option>Higgs1</option>
                                <option>Higgs2</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="Portfolio">DataTape</label>
                            <select class="form-control" onchange="submitForm()">
                                <option>Cut off</option>
                                <option>Post-Cut off</option>
                                <option>Signing</option>
                                <option>Post-Signing</option>
                                <option>Closing</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="Portfolio">F. DataTape</label>
                            <select class="form-control" onchange="submitForm()">
                                <option>2020-12-02</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="Portfolio">F. Proceso</label><input type="text" class="form-control" readonly="readonly" value="">
                        </div>

                        <div class="col-md-1">
                            <a href="#">
                                <button class="btn btn-success">
                                    <i class="fa fa-search"></i>&nbsp;&nbsp;Calcular
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <br><br>

                <div class="row">
                    <div class="col-md-3">
                        <h4 class="border-bottom border-info text-left">Información Contratos</h4><br>
                        <label>Nº Contratos nuevos&nbsp;&nbsp;&nbsp;</label><input placeholder="" type="text" class="hide-when-small" style="flex: 2">
                        <label>Nº Contratos eliminados&nbsp;&nbsp;</label><input placeholder="" type="text" class="hide-when-small" style="flex: 1">
                    </div>
                    <div class="col-md-3">
                        <h4 class="border-bottom border-info text-left">Información Participantes</h4><br>
                        <label>Nº Participantes nuevos&nbsp;&nbsp;&nbsp;</label><input placeholder="" type="text" class="hide-when-small" style="flex: 1">
                        <label>Nº Participantes eliminados&nbsp;&nbsp;</label><input placeholder="" type="text" class="hide-when-small" style="flex: 1">
                    </div>
                    <div class="col-md-3">
                        <h4 class="border-bottom border-info text-left">Información judicial y concursal</h4><br>
                        <label>Nº Cambios judiciales&nbsp;&nbsp;&nbsp;</label><input placeholder="" type="text" class="hide-when-small" style="flex: 2">
                        <label>Nº Cambios concursales&nbsp;&nbsp;</label><input placeholder="" type="text" class="hide-when-small" style="flex: 1">
                    </div>
                </div>
                <br><br>
            </div>  <!-- /.card body -->
        </div> <!-- /.card-primary -->
    </div>    <!-- /.coll -->
</div>  <!-- /.row -->
<br>
<br>

<div class="Tabs" style="display: block;">

    <ul class="nav nav-tabs">
        <li class="active">
            <a href="/">Contratos</a>
        </li>
        <li class="">
            <a href="#">Participantes</a>
        </li>
        <li class="">
            <a href="#">Procedimientos judiciales</a>
        </li>
        <li class="">
            <a href="#">Concursos</a>
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12 mts">
        <table class="table table-striped table-responsive table-bordered" style="background-color:#e6e6e6;">
            <thead>
                <tr class="heading" style="color:#336699;">
                    <th>Check</th>
                    <th>ID Contrato</th>
                    <th>Estado performing</th>
                    <th>Tipo deuda</th>
                    <th>ID Titular principal</th>
                    <th>Nº participantes</th>
                    <th>Nº fiadores</th>
                    <th>Total OB</th>
                    <th>Divisa</th>
                    <th>Capital vencido</th>
                    <th>Capital pendiente</th>
                    <th>Intereses ordinarios</th>
                    <th>Intereses de demora</th>
                    <th>Cuotas impagadas</th>
                    <th>Cuotas pendientes</th>
                    <th>LTV actual</th>
                    <th>Novación</th>
                    <th>Fecha novación</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="submit" class="fa fa-check-circle" value=""></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><input type="submit" class="btn  btn-xs btn-danger" value=""></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><input type="submit" class="btn  btn-xs btn-danger" value=""></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

    </div>  <!-- /.scroll -->


</div> <!-- /.coll -->


@code {
    
}
