@page "/certificates/formGeneration"

<div class="col-md-12">
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <p style="color:#336699;">Certificados</p>
        </li>
    </ul>
</div>

<div class="col-md-12">
    <div class="Tabs" style="display: block;">       
	    <ul class="nav nav-tabs">
		    <li class="active">
			    <a href="#">Crear plantilla nueva</a>
		    </li>
		    <li class="">
			    <a href="#">Modificar plantilla</a>
		    </li>
	    </ul>
    </div>
</div>
<br />
<div class="row">
    <div class="col"> 
        <div class="col-md-12">
            <label for="country">Portfolio</label>
            <select id="country" name="country" class="form-control">
                <option value="australia">Subportfolio</option>
                <option value="australia">Higgs</option>
                <option value="canada">Vento</option>
                <option value="usa">Explorer</option>
            </select>
        
            <label for="country">Tipo de certificado</label>
            <select id="country" name="country" class="form-control">
                <option value="australia">Tipo de certificado</option>
                <option value="australia">Certificado de cesión</option>
                <option value="canada">Certificado de saldo</option>
                <option value="canada">Certificado de saldo - Procesos judiciales</option>
            </select>
          
            <label for="fechven1">Subtipo de certificado</label>
            <input type="text" id="fechven1" name="fechven1" placeholder="Subtipo de certificado" class="form-control">
                
            <br /><br />

            <div class="card-card-primary" style="width:100%"></div>
                  
            <h5 class="border-bottom border-info text-left">Selección de variables</h5><br>
        
            <label for="fname">Título</label>
            <input type="text" id="fname" name="firstname" placeholder="Título" class="form-control">
          
            <div class="col-md-6"> 
                <label for="country">Apoderado</label>
                <select id="country" name="country" class="form-control">
                    <option value="australia">Alejo Garcia Grech</option>
                </select>
            </div>
            <div class="col-md-6"> 
                <label for="titulo1">DNI apoderado</label>
                <input type="text" id="titulo1" name="titulo1" placeholder="48372616M" readonly="readonly" class="form-control">
            </div>

            <label for="fechven1">Inversor</label>
            <input type="text" id="fechven1" name="fechven1" placeholder="Inversor" class="form-control">
            
            <label for="lname">C2. Nombre apoderado</label>
            <input type="text" id="lname" name="lastname" placeholder="Nombre apoderado" class="form-control">
                  
            <label for="lname">C3. DNI apoderado</label>
            <input type="text" id="lname" name="lastname" placeholder="DNI apoderado" class="form-control">
                  
            <label for="lname">C4. Dirección</label>
            <input type="text" id="lname" name="lastname" placeholder="Dirección" class="form-control">
                  
            <label for="lname">C5. CIF</label>
            <input type="text" id="lname" name="lastname" placeholder="CIF" class="form-control">

            <label for="subject">C6. Información del notario</label>
            <textarea id="subject" name="subject" placeholder="Ejemplo: Que conforme a la escritura de cesión de créditos con garantía hipotecaria elevada a público ante el Notario de [Madrid/Barcelona], [Don/Dña] XXXXXXXX el pasado XX de XXXXXXXX de 2020, bajo el número XXXX de su protocolo," style="height:100px" class="form-control"></textarea>
                  
            <label for="lname">C7. Sociedad</label>
            <input type="text" id="lname" name="lastname" placeholder="Sociedad" class="form-control">

            <label for="lname">C8. Originados</label>
            <input type="text" id="lname" name="lastname" placeholder="Originados" class="form-control">

            <label for="lname">C9. Quitas</label>
            <input type="text" id="lname" name="lastname" placeholder="Quitas" class="form-control">
                  
            <label for="subject">C10. Texto</label>
            <textarea id="subject" name="subject" placeholder="Ejemplo: Nº operación indicada corresponde con contrato original: XXXX-XXXX-XX-XXXXXXXXXXX (se informará para contratos migrados)" style="height:100px" class="form-control"></textarea>
                  
            <label for="lname">C11. Localidad</label>
            <input type="text" id="lname" name="lastname" placeholder="Localidad" class="form-control">

            <label for="lname">C12. Fecha de la venta</label>
            <input type="text" id="lname" name="lastname" placeholder="Fecha de la venta" class="form-control">

            <label for="subject">C13. Texto pie de página</label>
            <textarea id="subject" name="subject" placeholder="Texto pie de página" style="height:100px" class="form-control"></textarea>

            <br />
            <input type="submit" class="btn btn-primary" value="Guardar">
            <input type="submit" class="btn btn-primary" value="Generar plantilla">
            <input type="submit" class="btn btn-primary" value="Descargar certificados ">
        </div>
    </div>
    <br/>
    <div class="col">
        <div class="col-md-12">
            <object data="MR343.pdf" type="application/pdf" width="600" height="880">
                <p>Alternative text - include a link <a href="MR343.pdf">to the PDF!</a></p>
            </object>
        </div>
    </div>
</div>

@code {

}
